h1{
  font-size: 5rem;
  margin: 0;
}
h2{
  font-size: 2rem;
}
body{
  background-image: url(img/fondo.jpg);
  background-attachment: fixed;
  font-family: 'Teko', sans-serif;
}

header{
    justify-content: center;
    text-align: center;
    background-color: rgba(240, 255, 255, 0.575);
}
main{
    background-color:  rgba(240, 255, 255, 0.575);
    font-size: 2rem;
    display: flex;
    align-items:flex-start;
    text-align: center;
    justify-content: center;
    margin: 5rem;
    padding-bottom: 4rem;
    
}

.respuesta {
    width: 220px;
    
    padding: .6rem 1rem;
    border: 1px solid #098f99;
    border-radius: 10px;
    background-color: #6883ce;
    color: rgb(255, 255, 255);
  
    font-size: 1rem;
    background-image: linear-gradient(rgb(48, 49, 100) 10%,#0400e7 100%);

    display: flex;
    align-content: space-around;
    margin-top: 1rem;
    text-align: center;
    margin-left: 18rem;
  }
  .respuesta:hover {
    
    color: rgb(0, 0, 0);
    background-image: linear-gradient(rgb(133, 135, 214) 10%,#0b0a49 100%);

  }
  
@media (max-width: 600px) {
    .respuesta {
      margin-left: 1.5rem;
    }
  }
  
  